<div class="container-fluid row" >
    <div class="col-12 col-md-4 col-lg-4 col-xxl-4  container m-3" >
        
        <div>
            <img src="../../../assets/pin.png" alt="pin-img" class="pin mx-3">
            <span style="padding:5px 15px; background-color:#d2e2fb;color:#4B82EF;border-radius: 5px;font-size: 12px ;">Behaviours</span>
            <i class="fa-solid fa-ellipsis-vertical m-3" style="color: #9ca1ae;"></i>
        </div>
        <div class="d-flex justify-content-between">
            <img class="mx-3" src="" alt="star">
            <div class=" align-self-center mx-3" style="padding: 2px 5px;background-color: #4B82EF; border-radius: 30px; width: max-content;">
                <img class="px-1 " style="width:25px; " src="../../../assets/people.svg" alt="group-img">
                <span class="px-1" style="color:#fff ; font-size: 14px;">23%</span>
            </div>
        </div>
        <div class="m-3">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quasi accus</p>
        </div>
       
    </div>
    <div class="col-12 col-md-4 col-lg-4 col-xxl-4  container m-3" >
        
        <div>
            <img src="../../../assets/pin.png" alt="pin-img" class="pin mx-3">
            <span style="padding:5px 15px; background-color:#d2e2fb;color:#4B82EF;border-radius: 5px;font-size: 12px ;">Behaviours</span>
            <i class="fa-solid fa-ellipsis-vertical m-3" style="color: #9ca1ae;"></i>
        </div>
        <div class="d-flex justify-content-between">
            <img class="mx-3" src="" alt="star">
            <div class=" align-self-center mx-3" style="padding: 2px 5px;background-color: #4B82EF; border-radius: 30px; width: max-content;">
                <img class="px-1 " style="width:25px; " src="../../../assets/people.svg" alt="group-img">
                <span class="px-1" style="color:#fff ; font-size: 14px;">23%</span>
            </div>
        </div>
        <div class="m-3">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quasi accus</p>
        </div>
       
    </div>
</div>

<!-- 
<div>
    <label>
      <input type="checkbox" [(ngModel)]="checkboxValue" (change)="updateCheckbox($event)">
      Checkbox 1
    </label>
  </div>
  
  <div>
    <label>
      <input type="checkbox" (click)="showToast()" [(ngModel)]="checkboxValue" (change)="updateCheckbox($event)">
      Checkbox 2
    </label>
  </div> -->